

.button {
  --button-height: 40px;
  --button-border-width: 1px;
  --button-bg: var(--text-color);
  --button-color: var(--bg-color);
  --button-border: var(--button-bg);
  --button-hover-bg: var(--main-color);
  --button-hover-color: var(--bg-color);
  --button-hover-border: var(--button-hover-bg);
  --button-h-padding: calc(var(--button-height)/2.5);
  height: var(--button-height);
  padding: 0 var(--button-h-padding);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--button-bg);
  border: var(--button-border-width) solid var(--button-border);
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  cursor: pointer;
}

.button:hover {
    color: var(--button-hover-color);
    background-color: var(--button-hover-bg);
    border-color: var(--button-hover-border);
  }

.button.disabled,
  .button[disabled] {
    opacity: 0.5;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }

.button:not([class*='transition']) {
    transition:
      background var(--md-speed) ease-in-out,
      border var(--md-speed) ease-in-out,
      opacity var(--md-speed) ease-in-out,
      color var(--md-speed) ease-in-out,
      box-shadow var(--md-speed) ease-in-out,
      transform var(--md-speed) ease-in-out;
  }

.button.hollow {
    --button-bg: transparent;
    --button-color: var(--text-color);
    --button-border: var(--text-color);
    --button-hover-bg: var(--main-color);
    --button-hover-color: var(--bg-color);
    --button-hover-border: var(--main-color);
  }

/* Button Themes */

.button.transparent {
    --button-bg: transparent;
    --button-color: currentcolor;
    --button-border: transparent;
    --button-hover-bg: transparent;
    --button-hover-color: currentcolor;
    --button-hover-border: transparent;
  }

/* Button Sizes */

.button.small {
    --button-height: 32px;
  }

.button.large {
    --button-height: 70px;
  }

/* Button Shapes */

.button.square,
  .button.circle {
    width: var(--button-height);
    padding: 0;
  }

.button.square.unpadd, .button.circle.unpadd {
      margin: -12px;
    }

.button.circle {
    --button-border-radius: 50%;
  }

.button.square .button-label,
  .button.circle .button-label {
    display: none;
  }

/* Remove Horizontal Padding */

.button.unpadd {
    margin: 0 calc(var(--button-h-padding)*-1);
  }
