@font-face {
  font-family: 'Souvenir';
  src:
    url('./SouvenirStd-Light.woff') format('woff'),
    url('./SouvenirStd-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brown';
  src:
    url('./brown-regular.woff') format('woff'),
    url('./brown-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Material Icons';
  src:
    url('../fonts/material-icons-regular.woff') format('woff'),
    url('../fonts/material-icons-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
